<%- include('../includes/head.ejs') %>
    </head>

    <%- include('../includes/navigation.ejs') %> 
    <main class="flex-grow">

    <div class="relative w-full font-archiasemibold">
        <img src="/images/hotel-pool.jpg" alt="" class="h-[42rem] w-full object-cover brightness-50">
        <div class="absolute w-full h-full top-0 flex flex-col items-center justify-center text-center align-center text-white">
            <p class="text-lg">Away from monotonous life</p>
            <p class="mb-3 text-6xl">Relax your mind!</p>
            <p class="text-lg">Stylish living spaces for business and leisure</p>
        </div>
    </div>


    <div class="mb-8 mt-16 flex flex-col items-center justify-center font-archiasemibold">
        <h1 class="text-4xl font-archiabold">Hotel Accomodations</h1>
        <p class="text-sm font-archia">We all live in an age that belongs to the young at heart. Life that is becoming extremely fast!</p>
    </div>

    <div class="flex items-center justify-center mb-8">
        <div class="p-8 grid grid-cols-3">
            <% for (let roomtype of roomTypes) { %>
            <div class="ml-10 mr-10 border rounded-lg shadow-3xl w-96" class="">
                <img src="<%= roomtype.imgPath %>" alt="Room-Image" class="w-full rounded-t-lg object-cover">
                <div class="p-2 w-full font-archia flex justify-between">
                    <p class="pl-4 text-md w-full"><%= roomtype.name %></p>
                    <p class="pr-2 font-dm_mono text-lg">$<%= roomtype.cost %>/night</p>
                </div>
            </div>

            <% } %>
        </div>
    </div>

    </main>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>